<ion-content>
  <div class="mask">
    <div class="container">
      <img src="../../assets/icon-pequeno.png"/>
      <ion-list lines="none" class="border">
        <ion-item lines="none">
          <ion-icon slot="start" name="pricetag-outline"></ion-icon>
          <ion-label position="stacked">Mesa</ion-label>
          <ion-input type="number" placeholder="13" [(ngModel)]="table"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-icon slot="start" name="qr-code-outline"></ion-icon>
          <ion-label position="stacked">Código</ion-label>
          <ion-input spellcheck="true" placeholder="#D2F3412F"
            [type]="text" [(ngModel)]="verificationCode">
          </ion-input>
        </ion-item>
      </ion-list>
      <div class="action">
        <ion-button color="primary" expand="block" class="large" (click)="login()">
          Entrar
        </ion-button>
      </div>
      <div class="version">
        <p>Versão: {{version}}</p>
      </div>
    </div>
  </div>
</ion-content>