<div iv class="container">
  <div class="div-log">
    <img class="img-log" src={{dadoLoja.loja.logo}}>
  </div>
  <div class="div-titulo">
    <h3>{{dadoLoja.loja.nome}}</h3>
  </div>
</div>

<ion-segment scrollable>
  <ion-segment-button [attr.data-ref]="categoria.nome" (click)="selectCat(categoria.nome)" *ngFor="let categoria of dadoLoja.categorias"> {{categoria.nome}}
  </ion-segment-button>
</ion-segment>

<ion-content>

  <ion-card class="card-produto-cat" (click)="selecionarProd(prod)" *ngFor="let prod of produtosCategoria">
    <ion-card-header>
      <div>
        <img src={{prod.img}}>
      </div>
      <ion-card-title> {{prod.nome}} - R$ {{prod.preco}} </ion-card-title>
      <ion-card-subtitle> {{prod.descricao}} </ion-card-subtitle>
    </ion-card-header>
  </ion-card>

</ion-content>