.div-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #850a0a;
}

h3 {
    color: white;
    font-size: 28px;
}

.imagem-prod{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 100%;
}

.qtd-item {
    font-size: 23px;
    padding: 4px;
}

ion-card-subtitle {
    // font-family: 'Open Sans', sans-serif;
    
}

ion-card-title {
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    margin-right: 20px;
    margin-bottom: 5px;
    color: rgb(77, 77, 77);
}

.card-container {
    display: flex;
    flex-direction: row;
}

ion-card-header {
    width: 100%;
}

.div-prod-detalhe {
    display: flex;
}

.div-prod-detalhe ion-card-subtitle {
    margin-right: 10px;
}

.div-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: #850a0a;
    width: 97%;
    border-radius: 6px;
    height: 36px;
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 4px;
    text-transform: uppercase;
    color: white;
    font-family: 'Open Sans', sans-serif !important;
}

.total{
    text-align: center;
}