<ion-header>
  <ion-toolbar color="primary">
    <ion-title> Pedidos </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let prod of prodCarrinho" class="card-container">
    <div>
      <img src={{prod.img}}>
    </div>
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-card-title> {{prod.nome}} </ion-card-title>
          <ion-card-title> R$ {{prod.preco}} </ion-card-title>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-button (click)="remove(prod)">-</ion-button>
          <ion-label>{{prod.qtd}}</ion-label>
          <ion-button (click)="add(prod)">+</ion-button>
        </ion-row>
      </ion-grid>
    </ion-card-header>
  </ion-card>
</ion-content>
<ion-toolbar>
  <ion-title>Total Pedido: R$ {{total}} </ion-title>
</ion-toolbar>
<ion-button class="div-btn" (click)="sendRequest()">
  <ion-icon name="checkmark-done-outline" slot="start"></ion-icon>
  Enviar Pedido
</ion-button>

